<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= dog.name %></title>
</head>
<body>
  <h1><%= dog.name %></h1>
  <% if(dog.goodDog){ %>
    <p>This dog is ready to join!</p>
  <% } else { %>
    <p>This dog is not ready to join us!</p>
  <% } %>
  <form action="/dogs/<%=dog._id%>?_method=DELETE" method="POST">
    <button type="submit">
      Delete <%= dog._id %>
    </button>
  </form>
  <a href="/dogs/<%= dog._id %>/edit">Edit <%= dog.name %></a>
  <a href="/dogs">Back to the other dogs</a>
</body>
</html>